<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"metadata":{"name":"Banner"},"align":"wide","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"0px","bottom":"0px","left":"15px","right":"15px"}}},"backgroundColor":"primary-accent","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide has-primary-accent-background-color has-background" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:15px;padding-bottom:0px;padding-left:15px"><!-- wp:spacer {"height":"80px","className":"is-style-has-mb-50","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
    <div style="margin-top:0px;margin-bottom:0px;height:80px" aria-hidden="true" class="wp-block-spacer is-style-has-mb-50"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"right":"15px","left":"var:preset|spacing|100"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"inherit":true,"type":"constrained","justifyContent":"left"}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-right:15px;padding-left:var(--wp--preset--spacing--100)"><!-- wp:heading {"textAlign":"center","level":1,"style":{"typography":{"fontStyle":"normal","fontWeight":"700","fontSize":"200px","lineHeight":"1"}}} -->
    <h1 class="wp-block-heading has-text-align-center" style="font-size:200px;font-style:normal;font-weight:700;line-height:1">404</h1>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"600","lineHeight":"1.8"},"spacing":{"padding":{"right":"var:preset|spacing|default","left":"var:preset|spacing|default"},"margin":{"top":"56px","right":"var:preset|spacing|default","bottom":"var:preset|spacing|default","left":"var:preset|spacing|default"}}},"textColor":"primary","fontSize":"small"} -->
    <p class="has-text-align-center has-primary-color has-text-color has-small-font-size" style="margin-top:56px;margin-right:var(--wp--preset--spacing--default);margin-bottom:var(--wp--preset--spacing--default);margin-left:var(--wp--preset--spacing--default);padding-right:var(--wp--preset--spacing--default);padding-left:var(--wp--preset--spacing--default);font-style:normal;font-weight:600;line-height:1.8">
                Oops!</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:heading {"textAlign":"center","level":3,"style":{"spacing":{"margin":{"top":"16px","right":"0px","bottom":"0px","left":"0px"}},"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontSize":"xx-large"} -->
    <h3 class="wp-block-heading has-text-align-center has-xx-large-font-size" style="margin-top:16px;margin-right:0px;margin-bottom:0px;margin-left:0px;font-style:normal;font-weight:600">
                Page Not Found</h3>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center","style":{"typography":{"lineHeight":"1.8"},"spacing":{"margin":{"top":"16px","right":"var:preset|spacing|default","bottom":"var:preset|spacing|default","left":"var:preset|spacing|default"}}},"fontSize":"small"} -->
    <p class="has-text-align-center has-small-font-size" style="margin-top:16px;margin-right:var(--wp--preset--spacing--default);margin-bottom:var(--wp--preset--spacing--default);margin-left:var(--wp--preset--spacing--default);line-height:1.8">
                Sorry, the page you are looking for doesn't exist or has been moved. Try searching our site:</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"},"style":{"spacing":{"margin":{"top":"32px"}}}} -->
    <div class="wp-block-buttons" style="margin-top:32px"><!-- wp:button {"className":"is-style-travelverse-primary-arrow"} -->
    <div class="wp-block-button is-style-travelverse-primary-arrow"><a class="wp-block-button__link wp-element-button">Back to Homepage</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"120px","className":"is-style-has-mb-50","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
    <div style="margin-top:0px;margin-bottom:0px;height:120px" aria-hidden="true" class="wp-block-spacer is-style-has-mb-50"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Search Box"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|default","right":"15px","bottom":"var:preset|spacing|default","left":"15px"}}},"className":"is-style-search-404","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-search-404"
    style="padding-top:var(--wp--preset--spacing--default);padding-right:15px;padding-bottom:var(--wp--preset--spacing--default);padding-left:15px">
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"8px","right":"8px","bottom":"8px","left":"24px"},"margin":{"top":"0px"}},"border":{"radius":"16px","color":"#0000001a","width":"1px"},"position":{"type":""}},"backgroundColor":"white","className":"is-style-default","layout":{"type":"constrained","justifyContent":"right"}} -->
    <div class="wp-block-group is-style-default has-border-color has-white-background-color has-background"
        style="border-color:#0000001a;border-width:1px;border-radius:16px;margin-top:0px;padding-top:8px;padding-right:8px;padding-bottom:8px;padding-left:24px">
        <!-- wp:search {"label":"search","showLabel":false,"placeholder":"Search keywords","width":100,"widthUnit":"%","buttonText":"Search","style":{"border":{"radius":"16px","width":"0px","style":"none"},"typography":{"fontStyle":"normal","fontWeight":"500","lineHeight":"1"}},"backgroundColor":"primary","fontSize":"small"} /-->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Post Section"},"style":{"spacing":{"padding":{"right":"15px","left":"15px","top":"0px","bottom":"0px"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
    style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:15px;padding-bottom:0px;padding-left:15px">
    <!-- wp:spacer {"height":"120px","className":"is-style-has-mb-50","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
    <div style="margin-top:0px;margin-bottom:0px;height:120px" aria-hidden="true"
        class="wp-block-spacer is-style-has-mb-50"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"600","lineHeight":"1.3"},"spacing":{"margin":{"top":"0px","right":"0px","bottom":"37px","left":"0px"}}},"fontSize":"xx-large"} -->
    <h2 class="wp-block-heading has-text-align-center has-xx-large-font-size"
        style="margin-top:0px;margin-right:0px;margin-bottom:37px;margin-left:0px;font-style:normal;font-weight:600;line-height:1.3">
        From the Blog</h2>
    <!-- /wp:heading -->

    <!-- wp:group {"tagName":"main","metadata":{"name":"Post List"},"align":"wide","layout":{"type":"constrained"}} -->
    <main class="wp-block-group alignwide">
        <!-- wp:query {"queryId":9,"query":{"perPage":3,"pages":"3","offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"align":"wide"} -->
        <div class="wp-block-query alignwide">
            <!-- wp:post-template {"style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":3}} -->
            <!-- wp:post-featured-image {"width":"","height":"","style":{"border":{"radius":"32px"}}} /-->

            <!-- wp:group {"layout":{"type":"constrained"}} -->
            <div class="wp-block-group">
                <!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group">
                    <!-- wp:post-terms {"term":"category","style":{"spacing":{"padding":{"top":"var:preset|spacing|default","right":"0px","bottom":"var:preset|spacing|default","left":"0px"}},"typography":{"fontSize":"16px","lineHeight":"1.8"}}} /-->

                    <!-- wp:post-date {"style":{"typography":{"fontSize":"16px","lineHeight":"1.8"}}} /-->
                </div>
                <!-- /wp:group -->

                <!-- wp:post-title {"level":3,"isLink":true,"style":{"spacing":{"margin":{"top":"16px","right":"var:preset|spacing|default","bottom":"var:preset|spacing|default","left":"var:preset|spacing|default"}}},"className":"is-style-on-hover","fontSize":"medium"} /-->

                <!-- wp:post-excerpt /-->
            </div>
            <!-- /wp:group -->
            <!-- /wp:post-template -->

            <!-- wp:query-no-results -->
            <!-- wp:paragraph {"align":"center","placeholder":"Add text or blocks that will display when a query returns no results.","backgroundColor":"ti-bg-alt"} -->
            <p class="has-text-align-center has-ti-bg-alt-background-color has-background">No Posts were found</p>
            <!-- /wp:paragraph -->
            <!-- /wp:query-no-results -->
        </div>
        <!-- /wp:query -->
    </main>
    <!-- /wp:group -->

    <!-- wp:spacer {"height":"80px","className":"is-style-has-mb-30","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
    <div style="margin-top:0px;margin-bottom:0px;height:80px" aria-hidden="true"
        class="wp-block-spacer is-style-has-mb-30"></div>
    <!-- /wp:spacer -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"travelverse","tagName":"footer"} /-->