<!-- wp:template-part {"slug":"header","theme":"travelverse","tagName":"header"} /-->
<!-- wp:pattern {"slug":"travelverse/about/about-banner"} /-->
	<!-- wp:group {"metadata":{"name":"About Details"},"style":{"spacing":{"margin":{"top":"var:preset|spacing|100","bottom":"var:preset|spacing|100"},"padding":{"right":"15px","left":"15px"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--100);margin-bottom:var(--wp--preset--spacing--100);padding-right:15px;padding-left:15px"><!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"bottom":"24px"}}},"fontSize":"xx-large"} -->
        <h2 class="wp-block-heading has-text-align-center has-xx-large-font-size" style="margin-bottom:24px">
       Your Trusted Travel Partner Since 2008.</h2>
        <!-- /wp:heading -->
        <!-- wp:paragraph {"align":"center","style":{"spacing":{"margin":{"top":"0px"}},"elements":{"link":{"color":{"text":"var:preset|color|heading"}}}},"textColor":"heading","fontSize":"small"} -->
        <p class="has-text-align-center has-heading-color has-text-color has-link-color has-small-font-size" style="margin-top:0px">Welcome to TravelVerse. We believe travel is more than just visiting new places. It\'s about creating unforgettable experiences, forging connections with cultures, and discovering the extraordinary in the ordinary.
        </p>
        <!-- /wp:paragraph --></div>
        <!-- /wp:group -->
        <!-- wp:pattern {"slug":"travelverse/about/about-mission"} /-->
        <!-- wp:pattern {"slug":"travelverse/about/about-features"} /-->
        <!-- wp:pattern {"slug":"travelverse/about/about-services"} /-->
        <!-- wp:pattern {"slug":"travelverse/about/about-team"} /-->
        <!-- wp:pattern {"slug":"travelverse/about/about-client"} /-->
<!-- wp:template-part {"slug":"footer","theme":"travelverse","tagName":"footer"} /--> 