<!-- wp:template-part {"slug":"header","theme":"travelverse","tagName":"header"} /-->
<!-- wp:pattern {"slug":"travelverse/frontpage/banner"} /-->
<!-- wp:pattern {"slug":"travelverse/frontpage/services"} /-->
<!-- wp:pattern {"slug":"travelverse/frontpage/popular-package"} /-->
<!-- wp:pattern {"slug":"travelverse/frontpage/about"} /-->
<!-- wp:pattern {"slug":"travelverse/frontpage/featured-section"} /-->
<!-- wp:pattern {"slug":"travelverse/frontpage/popular-destinations"} /-->
<!-- wp:pattern {"slug":"travelverse/frontpage/best-offers"} /-->
<!-- wp:pattern {"slug":"travelverse/frontpage/testimonials"} /-->
<!-- wp:pattern {"slug":"travelverse/frontpage/activities"} /-->
<!-- wp:pattern {"slug":"travelverse/frontpage/how-it-works"} /-->
<!-- wp:pattern {"slug":"travelverse/frontpage/cta-section"} /-->
<!-- wp:pattern {"slug":"travelverse/frontpage/blog"} /-->
<!-- wp:template-part {"slug":"footer","theme":"travelverse","tagName":"footer"} /-->