<!-- wp:template-part {"slug":"header","theme":"travelverse","tagName":"header"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"var:preset|spacing|64","right":"0px","bottom":"var:preset|spacing|64","left":"0px"}}},"backgroundColor":"primary-accent","className":"is-style-default","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide is-style-default has-primary-accent-background-color has-background" style="margin-top:0px;margin-bottom:0px;padding-top:var(--wp--preset--spacing--64);padding-right:0px;padding-bottom:var(--wp--preset--spacing--64);padding-left:0px"><!-- wp:group {"style":{"spacing":{"padding":{"right":"15px","left":"var:preset|spacing|100"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"inherit":true,"type":"constrained","justifyContent":"left"}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-right:15px;padding-left:var(--wp--preset--spacing--100)"><!-- wp:post-title {"textAlign":"center","level":1,"align":"wide","style":{"typography":{"textTransform":"none","fontStyle":"normal","fontWeight":"400","lineHeight":"1.3"}},"className":"is-style-default","fontSize":"xx-large"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->

    <!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0"><!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained"}} -->
    <main class="wp-block-group alignfull" style="margin-top:0px;margin-bottom:0px"><!-- wp:spacer {"height":"80px","className":"is-style-has-mb-50","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
    <div style="margin-top:0px;margin-bottom:0px;height:80px" aria-hidden="true" class="wp-block-spacer is-style-has-mb-50"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:post-featured-image {"isLink":true,"width":"","height":"","align":"full","style":{"border":{"radius":"32px"},"spacing":{"margin":{"top":"0px","right":"0px","left":"0px","bottom":"56px"}}}} /-->
    
    <!-- wp:post-content {"align":"full","layout":{"type":"default"}} /-->
    
    <!-- wp:spacer {"height":"80px","className":"is-style-has-mb-30"} -->
    <div style="height:80px" aria-hidden="true" class="wp-block-spacer is-style-has-mb-30"></div>
    <!-- /wp:spacer --></main>
    <!-- /wp:group --></div>
    <!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"travelverse","tagName":"footer"} /-->